body {
  background: #ebebeb;
  color: #141414;
}
#header {
  background: #cbcbcb;
  padding: 10px;
}

#content {
  background:#fbfbfb;
  padding: 20px;
  margin:20px;
}

ol, ul {
  border-left: 1px solid #909090;
  margin: 5px 0 5px 0 ;
  padding: 0 0 0 14px;
  list-style-position: inside;
}

ul {
  list-style: none;
}

li::marker {
  direction: ltr;
}

li {
  margin: 0 0 10px 0;
  direction: ltr;
  /* border:1px solid #cbcbcb; */
  text-indent: -10px;
}

li > p {
  margin-left: 0;
  text-indent: 0em;
}

.ls_decimal {
  list-style-type: decimal;
}

.ls_lowerAlpha {
  list-style-type: lower-alpha;
}

.ls_upperRoman {
  list-style-type: upper-roman;
}